// Font Families
$main-font: 'Roboto', sans-serif;
$accent-font: 'Dancing Script', cursive;

//Font Sizes
$paragraph-size: 16px;
$heading-1: 36px;
$heading-2: 30px;
$heading-3: 24px;
$heading-4: 20px;

//Colors
$primary-color: #454545;
$seconary-color: #a3a3a3;
$accent-color: #E52E2D;

$main-background: #fff;
$seconary-background: #f8f9fa;
